@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
.category1 {
    position: relative;
    top: -70px;
    left: 330px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    color: #7ea0e5;
  }
  .category1:hover {
    color: #7ea0e5;
  }
  .category2 {
    position: relative;
    top: -70px;
    left: 400px;
    background-color: white;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 22px;
    color: #9a9898;
  }
  .category2:hover {
    color: #7ea0e5;
  }
  .category3 {
    position: relative;
    top: -70px;
    left: 470px;
    background-color: white;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 22px;
    color: #9a9898;
  }
  .category3:hover {
    color: #7ea0e5;
  }