@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.main {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}
.logo {
  position: relative;
  width: 160px;
  height: 50px;
  top: 30px;
  left: 60px;
}
.find {
  width: 300px;
  font-weight: Bold;
}
.navbar {
  position: relative;
  margin-top: 50px;
}
.category1 {
  position: relative;
  top: 16px;
  left: 160px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 22px;
  color: #7ea0e5;
}
.category1:hover {
  color: #7ea0e5;
}
.category2 {
  position: relative;
  top: 16px;
  left: 240px;
  background-color: white;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: 22px;
}
.category2:hover {
  color: #7ea0e5;
}
.category3 {
  position: relative;
  top: 16px;
  left: 320px;
  background-color: white;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: 22px;
}
.category3:hover {
  color: #7ea0e5;
}
.myinfo {
  position: relative;
  background-color: white;
  margin: 0;
  border: none;
  font-size: 22px;
  font-weight: bold;
  width: 170px;
  height: 40px;
  top: 13px;
  left: 820px;
  cursor: pointer;
}
#myinfoicon {
  position: relative;
  font-size: 28px;
  top: 8px;
  left: -5px;
  cursor: pointer;
}
.logout {
  position: relative;
  background-color: white;
  margin: 0;
  border: none;
  font-weight: bolder;
  font-size: 32px;
  width: 170px;
  height: 40px;
  top: 13px;
  left: 800px;
  cursor: pointer;
}
#logouticon {
  position: relative;
  font-size: 32px;
  top: 8px;
  left: -5px;
  cursor: pointer;
}
.category1,
.category2,
.category3,
.logout {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.find {
  position: relative;
  font-weight: bolder;
  left: 120px;
  top: 190px;
}
.btn {
  font-weight: bolder;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  position: relative;
  border: none;
  font-size: 24px;
  color: #ffffff;
  background-color: #7ea0e5;
  top: 10;
  cursor: pointer;
  left: 120px;
  top: 220px;
}
.btn:hover {
  border: 3px solid #7ea0e5;
  background-color: white;
  color: #7ea0e5;
  transform: 0.4s;
}
.postbox1 {
  position: absolute;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  left: 33%;
  top: 20%;
  background-color: #b6c9f1;
  box-shadow: 0px 0px 5px 1px #00000034;
}
.postbox2 {
  position: absolute;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  left: 62%;
  top: 20%;
  background-color: #b6c9f1;
  box-shadow: 0px 0px 5px 1px #00000034;
}
.postbox3 {
  position: absolute;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  left: 33%;
  top: 58%;
  background-color: #b6c9f1;
  box-shadow: 0px 0px 5px 1px #00000034;
}
.postbox4 {
  position: absolute;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  left: 62%;
  top: 58%;
  background-color: #b6c9f1;
  box-shadow: 0px 0px 5px 1px #00000034;
}
.headline {
  position: relative;
  top: 25px;
  left: 30px;
  font-size: 26px;
  font-weight: bolder;
  color: white;
}
.inline {
  position: relative;
  top: 45px;
  left: 30px;
  font-size: 16px;
  font-weight: normal;
  color: white;
}
.postdiv {
  position: relative;
  top: 65px;
  left: 30px;
  width: 330px;
  height: 2px;
  color: white;
}
.deadline {
  position: relative;
  top: 75px;
  left: 30px;
  font-size: 16px;
  font-weight: bolder;
  color: white;
}
.deadlinedate {
  position: relative;
  top: 53px;
  left: 90px;
  font-size: 16px;
  font-weight: normal;
  color: white;
}
.postuser {
  position: relative;
  top: 60px;
  left: 30px;
  font-size: 16px;
  font-weight: bolder;
  color: white;
}
.postusername {
  position: relative;
  top: 39px;
  left: 90px;
  font-size: 16px;
  font-weight: normal;
  color: white;
}
.people {
  position: relative;
  width: 20px;
  top: -8px;
  left: 340px;
  font-size: 12px;
  font-weight: normal;
  color: white;
}
.state {
  position: relative;
  top: 2px;
  left: 300px;
  width: 65px;
  height: 25px;
  font-size: 12px;
  font-weight: bolder;
  border-radius:4px;
  border: none;
  background-color: white;
  color: #7ea0e5;
  box-shadow:  5px 3px #00000034;
}
