@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.main {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}
.logo {
  position: relative;
  width: 160px;
  height: 50px;
  top: 30px;
  left: 60px;
}
.find {
  width: 300px;
  font-weight: Bold;
}
.navbar {
  position: relative;
  margin-top: 50px;
}
.category1 {
  position: relative;
  top: 16px;
  left: 160px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 22px;
  color: #7ea0e5;
}
.category1:hover {
  color: #7ea0e5;
}
.category2 {
  position: relative;
  top: 16px;
  left: 240px;
  background-color: white;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: 22px;
}
.category2:hover {
  color: #7ea0e5;
}
.category3 {
  position: relative;
  top: 16px;
  left: 320px;
  background-color: white;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: 22px;
}
.category3:hover {
  color: #7ea0e5;
}
.myinfo {
  position: relative;
  background-color: white;
  margin: 0;
  border: none;
  font-size: 22px;
  font-weight: bold;
  width: 170px;
  height: 40px;
  top: 13px;
  left: 820px;
  cursor: pointer;
}
#myinfoicon {
  position: relative;
  font-size: 28px;
  top: 8px;
  left: -5px;
  cursor: pointer;
}
.logout {
  position: relative;
  background-color: white;
  margin: 0;
  border: none;
  font-weight: bolder;
  font-size: 32px;
  width: 170px;
  height: 40px;
  top: 13px;
  left: 800px;
  cursor: pointer;
}
#logouticon {
  position: relative;
  font-size: 32px;
  top: 8px;
  left: -5px;
  cursor: pointer;
}
.category1,
.category2,
.category3,
.logout {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.find {
  position: relative;
  font-weight: bolder;
  left: 190px;
  top: 190px;
}
.btn {
  font-weight: bolder;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  position: relative;
  border: none;
  font-size: 24px;
  color: #ffffff;
  background-color: #7ea0e5;
  top: 10;
  cursor: pointer;
  left: 190px;
  top: 220px;
}
.btn:hover {
  border: 3px solid #7ea0e5;
  background-color: white;
  color: #7ea0e5;
  transform: 0.4s;
}
.meet {
  height: 340px;
  position: absolute;
  top: 220px;
  left: 750px;
}