@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.body{
  width: 400px;
  height: 250px;
}
.postbox {
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  background-color: #b6c9f1;
  box-shadow: 0px 0px 5px 1px #00000034;
}

.awidth{
  width: 400px;
  height: 250px;
}

.headline {
  position: relative;
  overflow: hidden;
  top: 25px;
  left: 30px;
  text-overflow: ellipsis;
  font-size: 26px;
  font-weight: 600;
  color: white;
  white-space: pre-line;
}
.inline {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  top: 45px;
  left: 30px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}
.postdiv {
  position: relative;
  top: 65px;
  left: 30px;
  width: 330px;
  height: 2px;
  color: white;
}
.deadline {
  position: relative;
  top: 75px;
  left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.deadlinedate {
  position: relative;
  top: 53px;
  left: 90px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.postuser {
  position: relative;
  top: 60px;
  left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.postusername {
  position: relative;
  top: 39px;
  left: 90px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.people {
  position: relative;
  width: 20px;
  top: -8px;
  left: 340px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
.state {
  position: relative;
  top: 2px;
  left: 300px;
  width: 65px;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  background-color: white;
  color: #7ea0e5;
  box-shadow: 5px 3px #00000034;
}
