@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.postcontainer {
  width: 1000px;
  height: 550px;
  border-radius: 7px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 5%);
  background-color: #b6c9f1;
  box-shadow: 0px 0px 5px 2px #00000034;
}
.userslist{
width: 300px;
  height: 120px;
  border-radius: 9px;
  position: relative;
  background-color: #7FA3ED;
}
.title{
  font-size: 36px;
  font-weight: 600;
}
.name{
  font-size: 20px;
  font-weight: 600;
}
.exDate{
  font-size: 20px;
  font-weight: 600;
}
.arrowmain{
  display: flex;
  width: 150px;
  transform: translate(25%, 60%);
}
.gomain {
  position: absolute;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  bottom: 10%;
  left: 25%;
}
.arrow {
  position: relative;
  width: 25px;
}
