@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.postcontainer {
  width: 1000px;
  height: 550px;
  border-radius: 7px;
  position: relative;
  left: 47%;
  transform: translate(-50%, 5%);
  background-color: #b6c9f1;
  box-shadow: 0px 0px 5px 2px #00000034;
}
.userslist {
  width: 300px;
  height: 120px;
  top: 73%;
  left: 3%;
  border-radius: 9px;
  position: absolute;
  background-color: #d7e3fb;
}
.nowlist {
  font-weight: 600;
  font-size: 18px;
  position: relative;
  top: 25%;
  left: 8%;
}
.golist {
  position: relative;
  font-weight: 500;
  top: 30%;
  left: 8%;
  font-size: 13px;
  color: #385cde;
}
.title {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  top: 5%;
  left: 3%;
}
.name {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 8%;
  left: 3%;
  width: 300px;
}
.exDate {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 3%;
  left: 19%;
  width: 300px;
}
.maxApp {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: -2%;
  left: 43%;
  width: 300px;
}
.content {
  font-size: 23px;
  font-weight: 600;
  position: relative;
  top: 3%;
  left: 3%;
  white-space: pre-line;
}
.need {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 10%;
  left: 3%;
  white-space: pre-line;
}
.apply {
  position: absolute;
  width: 150px;
  height: 50px;
  top: -90%;
  left: 880%;
  background-color: #7fa3ed;
  cursor: pointer;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0px 0px 5px 0.3px #00000034;
}
.apply:hover {
  border: 3px solid #7fa3ed;
  background-color: white;
  color: #7fa3ed;
  transform: 0.4s;
}

.arrowmain {
  display: flex;
  width: 150px;
  transform: translate(25%, 60%);
}

.gomain {
  position: absolute;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  bottom: 10%;
  left: 25%;
}
.arrow {
  position: relative;
  width: 20px;
}
.usercontainer {
  background-color: #b6c9f1;
  border-radius: 10px;
  height: 350px;
  left: 102%;
  position: absolute;
  top: 0%;
  width: 200px;
  box-shadow: 0px 0px 5px 1px #00000034;
}
.list {
  position: relative;
  font-size: 26px;
  left: 20%;
  top: 5%;
  font-weight: 600;
  color: white;
}
.user {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}
.name {
  position: relative;
  font-size: 18px;
  font-weight: 500;
}
